@charset "UTF-8";
.margin {
  width: 1200px;
  margin: 0 auto;
  padding: 0; }

/*顶部*/
#top {
  height: 30px;
  background: #eee;
  overflow: hidden; }
  #top .left {
    float: left; }
    #top .left span {
      font: 11px/30px "";
      color: #84878e;
      margin-right: 4px; }
      #top .left span img {
        margin-right: 4px; }
    #top .left a {
      font: 14px/30px "";
      color: #84878e;
      margin: 0 6px; }
    #top .left .a {
      font: 14px/30px "";
      color: #f4252b; }
  #top .right {
    float: right; }
    #top .right a {
      display: block;
      float: left;
      font: 12px/30px "";
      color: #84878e;
      margin: 0 10px; }
    #top .right i {
      display: block;
      float: left;
      width: 2px;
      height: 12px;
      line-height: 30px;
      color: #84878e; }
    #top .right img {
      margin-top: 13px; }

#header {
  height: 180px; }
  #header .logo {
    width: 260px;
    height: 180px;
    float: left;
    margin-right: 50px; }
    #header .logo a img {
      width: 260px;
      height: 180px; }
  #header .search {
    float: left;
    width: 468px;
    margin-top: 31px; }
    #header .search .text {
      float: left;
      width: 394px;
      height: 30px;
      border: 2px solid #f96fa2;
      border-right: 0;
      font: 12px/28px "";
      color: #84878e; }
    #header .search .btn {
      float: left;
      width: 72px;
      height: 34px;
      background: #f96fa2;
      border: 0;
      font-size: 12px;
      color: #fff;
      cursor: pointer; }
    #header .search a {
      font: 12px/28px "";
      color: #84878e;
      margin-right: 6px; }
  #header .car {
    float: right;
    width: 178px;
    height: 33px;
    border: 1px solid #d0d0d0;
    margin-top: 31px;
    text-align: center; }
    #header .car img {
      width: 26px;
      height: 26px; }
    #header .car span {
      font: 12px/33px "";
      color: #f96fa2;
      margin: 0 8px; }
      #header .car span i {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: rgba(249, 111, 162, 0.6);
        font: 12px/15px "";
        color: #fff;
        margin-left: 5px; }

/*导航*/
#nav {
  height: 40px;
  border-bottom: 1px solid #f96fa2; }
  #nav ul {
    overflow: hidden; }
    #nav ul .te {
      padding: 0 84px;
      background: #f96fa2; }
      #nav ul .te a {
        color: #fff;
        font: 600 16px/40px ""; }
    #nav ul li {
      float: left;
      padding: 0 25px; }
      #nav ul li a {
        font: 16px/40px "";
        color: #494949; }

/*选项*/
#x {
  height: 40px;
  background: #eee; }
  #x .s {
    width: 60px;
    height: 24px;
    border: 1px solid #d0d0d0;
    text-align: center;
    color: #4e4f4a; }
  #x span {
    font: 12px/40px "";
    color: #84878e; }

/*商品详情*/
#commodity {
  height: 660px;
  margin-top: 20px; }
  #commodity .left {
    width: 398px;
    height: 500px;
    float: left;
    margin-right: 28px;
    border: 1px solid #d0d0d0;
    position: relative;
   }
    #commodity .left .i {
      width: 398px;
      height: 398px;
      border-bottom: 1px solid #d0d0d0;
      margin-bottom: 16px; }
    #commodity .left p{
      width: 398px;
      height: 398px;
      margin: 0;
      position: absolute;
      z-index: 1;
      left:0;top:0;
    }
    #commodity .left a {
      display: block;
      text-align: center;
      margin: 0 15px;
      font: 14px/34px "";
      color: #4e4f4a; }
      #commodity .left a img {
        width: 25px;
        height: 25px;
        margin: 0 5px; }
  #commodity .left1 {
      width: 398px;
      height: 500px;
      position: absolute;
      left:500px;top:100px;
      overflow: hidden;
    }
    #commodity .left1 img {
      width: 1200px;
      position: absolute;
    }
  #commodity .middle {
    float: left;
    width: 600px; }
    #commodity .middle h3 {
      font: 18px/2 "";
      color: #4e4f4a; }
    #commodity .middle p {
      font: 14px/2 "";
      color: #f4252b; }
    #commodity .middle .kuang {
      width: 600px;
      height: 120px;
      margin-top: 20px;
      background: rgba(249, 111, 162, 0.301); }
      #commodity .middle .kuang span {
        font: 16px/2 "";
        color: #84878e; }
      #commodity .middle .kuang i {
        font: 600 20px/2 "";
        color: #f4252b;
        margin-right: 150px; }
      #commodity .middle .kuang s {
        font: 14px/2 "";
        color: #4e4f4a;
        margin: 0 15px; }
    #commodity .middle ul li {
      font: 14px/2 "";
      color: #4e4f4a; }
      #commodity .middle ul li span {
        font: 16px/2 "";
        color: #84878e;
        margin-right: 30px; }
      #commodity .middle ul li #qing {
        width: 60px;
        height: 25px; }
      #commodity .middle ul li #shuliang {
        width: 40px;
        height: 25px; }
    #commodity .middle #button1 {
      width: 120px;
      height: 40px;
      background: orange;
      border: none;
      font: 20px/40px "";
      color: #fff;
      margin: 30px 30px 5px 0;
      cursor: pointer; }
    #commodity .middle #button2 {
      width: 170px;
      height: 40px;
      background: orangered;
      border: none;
      font: 20px/40px "";
      color: #fff;
      cursor: pointer; }
  #commodity .right {
    float: right;
    width: 144px;
    margin-left: 26px; }
    #commodity .right p {
      line-height: 30px;
      color: #4e4f4a; }
    #commodity .right ul li img {
      width: 144px;
      height: 142px; }
    #commodity .right ul li span {
      font: 14px/2 "";
      color: #f4252b; }

/*商品详细信息*/
#information {
  height: 2100px; }
  #information .left {
    float: left;
    width: 200px; }
    #information .left ul {
      width: 200px;
      border: 1px solid #d0d0d0; }
      #information .left ul li {
        margin: 15px 0; }
        #information .left ul li h3 {
          width: 200px;
          height: 40px;
          font: 14px/40px "";
          color: #4e4f4a;
          background: #eee;
          text-indent: 1em;
          border-top: 1px solid #d0d0d0;
          border-bottom: 1px solid #d0d0d0; }
        #information .left ul li img {
          width: 200px;
          height: 180px;
          margin-top: 5px; }
        #information .left ul li a {
          display: block;
          font: 14px/2 "";
          color: #f4252b;
          cursor: pointer; }
          #information .left ul li a img {
            width: 15px;
            height: 15px;
            margin: 0 10px; }
        #information .left ul li p {
          font: 14px/2 "";
          color: #84878e; }
          #information .left ul li p img {
            height: 15px;
            width: 15px;
            margin: 0 8px; }
        #information .left ul li span {
          font: 14px/2 "";
          color: #f4252b; }
  #information .right {
    float: left;
    width: 970px;
    margin-left: 30px; }
    #information .right .shang {
      border-bottom: 1px solid #d0d0d0;
      height: 34px; }
      #information .right .shang span {
        display: block;
        float: left;
        width: 100px;
        height: 34px;
        font: 600 14px/36px "";
        color: #84878e;
        border: 1px solid #d0d0d0;
        text-align: center;
        border-bottom: none; }
        #information .right .shang span:first-child {
          color: #f4252b; }
    #information .right .pin {
      margin-top: 20px; }
      #information .right .pin h3 {
        font: 16px/20px "";
        color: #84878e; }
        #information .right .pin h3 img {
          width: 25px;
          height: 25px;
          margin-right: 5px; }
      #information .right .pin .sm {
        height: 90px;
        margin-top: 20px;
        border: 1px dashed #f4252c94; }
        #information .right .pin .sm span {
          margin: 0 10px;
          float: left;
          width: 200px;
          height: 45px;
          font: 14px/45px "";
          color: #84878e; }
    #information .right .xi {
      background: #f8e8e9; }
      #information .right .xi h2 {
        text-align: center;
        font: 24px/2 "";
        color: #494949; }
      #information .right .xi img {
        width: 176px;
        height: 176px;
        border-radius: 50%;
        margin-left: 100px; }
    #information .right .chan {
      background: #f8e8e9;
      height: 520px; }
      #information .right .chan h2 {
        text-align: center;
        font: 24px/2 "";
        color: #494949; }
      #information .right .chan i {
        display: block;
        width: 410px;
        height: 380px;
        border: 5px solid #f4252b;
        position: relative;
        float: left; }
        #information .right .chan i img {
          position: absolute;
          top: 20px;
          left: 22px; }
      #information .right .chan .te {
        margin-top: 25px; }
    #information .right .yang {
      background: #f8e8e9;
      height: 560px; }
      #information .right .yang h2 {
        text-align: center;
        font: 24px/2 "";
        color: #494949; }
      #information .right .yang ul {
        overflow: hidden; }
        #information .right .yang ul li {
          text-align: center;
          width: 240px;
          height: 236px;
          float: left;
          margin: 10px 20px 10px 53px; }
          #information .right .yang ul li img {
            width: 240px;
            height: 200px;
            border-radius: 10px; }
          #information .right .yang ul li span {
            font: 14px/36px "";
            color: #4e4f4a; }
    #information .right .kehu {
      background: #f8e8e9;
      height: 560px; }
      #information .right .kehu h2 {
        text-align: center;
        font: 24px/2 "";
        color: #494949; }
      #information .right .kehu img {
        width: 140px;
        height: 130px;
        margin: 6px 8px; }

/*底部*/
#credit {
  height: 80px;
  background: #d0d0d0; }
  #credit ul {
    height: 80px;
    float: left; }
    #credit ul li {
      float: left;
      height: 80px;
      margin: 0 26px; }
      #credit ul li img {
        width: 33px;
        height: 33px; }
      #credit ul li span {
        font: 18px/80px "";
        color: #84878e; }

#footer1 {
  height: 190px;
  background: #4e4f4a;
  border-bottom: 1px solid #d0d0d0; }
  #footer1 img {
    float: right;
    margin-top: 30px;
    margin-left: 51px; }
  #footer1 ul li {
    width: 115px;
    float: left;
    margin-top: 10px;
    margin-right: 60px; }
    #footer1 ul li h3 {
      font: 16px/64px "";
      color: #fff; }
    #footer1 ul li span {
      display: block;
      font: 12px/30px "";
      color: #fff; }

#footer2 {
  height: 100px;
  background: #4e4f4a;
  text-align: center;
  padding-top: 15px; }
  #footer2 a {
    font: 12px/3 "";
    color: #d0d0d0; }
  #footer2 span {
    font: 12px/3 "";
    color: #d0d0d0;
    margin: 0 10px; }
